{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Invento Ticketing Dashboard</title>
</head>
<body>
    <header>
        <div class="container">        
            <button class="new-ticket-button"><a href="eventLeadView">Home</a></button>
            <button class="new-ticket-button"><a href="new">New Ticket</a></button>
            <br><br>
            <h1>Invento Ticketing Admin Dashboard</h1>
        </div>
        
        <!--Code for search box-->
        <form class="search-form" action="{% url 'search_ticket' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Search ticket" name="ticket_id">
            <button type="submit">Search</button>
            <button class="new-ticket-button"><a href="invento_logout">Log Out</a></button><br><br>
        </form>

    </header>
    <main>
        <!--Code for display,delete and redeem searched tickets-->
        <div class="container">
            {% if search_message %}
                <div class="ticket-row">
                    <div class="ticket-column">
                        <p>{{ search_message }}</p>
                    </div>
                </div>
            {% endif %}
            {% if searched_tickets %}
            <div class="ticket-row">
                <div class="ticket-column">
                    <h4>Search Results</h5>
                </div>
            </div>
            {% for ticket in searched_tickets %}
                <div class="ticket-row">
                    <div class="ticket-column">
                        <p>Ticket ID: {{ ticket.IDtkt }}</p><br>
                    </div>
                    <div class="ticket-column">
                        {% if ticket.status != "Redeemed" %}
                            <p>{{ ticket.status }}</p><br>
                            <form action="redeem" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                                <input type="hidden" name="statusupdate" value="Redeemed">
                                <button type="submit" class="new-ticket-button">Redeeme</button>
                            </form><br>
                            <form action="delete" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                                <button type="submit" class="new-ticket-button" onclick="return confirmDelete();">Delete</button>
                            </form>
                        {% else %}
                            <p>{{ ticket.status }}</p><br>
                            <form action="delete" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                                <button type="submit" class="new-ticket-button" onclick="return confirmDelete();">Delete</button>
                            </form><br>
                            <form action="unredeem" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                                <input type="hidden" name="statusupdate" value="Active">
                                <button type="submit" class="new-ticket-button">Activate</button>
                            </form><br>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            <!--Code for display,delete and redeem searched tickets ends-->



            <!--Code for display,delete and redeem all the created tickets-->
            <div class="ticket-row">
                <div class="ticket-column">
                    <h5>Tickets registered</h5>
                </div>
            </div>
            {% for ticket in tickets reversed %}
            <div class="ticket-row">
                <div class="ticket-column">
                    <p>Ticket ID: {{ ticket.IDtkt }}</p>
                </div>
                <div class="ticket-column">
                    {% if ticket.status != "Redeemed" %}
                    <p>{{ ticket.status }}</p><br>
                    <form action="redeem" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                        <input type="hidden" name="statusupdate" value="Redeemed">
                        <button type="submit" class="new-ticket-button">Redeeme</button>
                    </form><br>
                    <form action="delete" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                        <button type="submit" class="new-ticket-button" onclick="return confirmDelete();">Delete</button>
                    </form>
                    {% else %}
                    <p>{{ ticket.status }}</p><br>
                    <form action="delete" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                        <button type="submit" class="new-ticket-button" onclick="return confirmDelete();">Delete</button>
                    </form><br>
                    <form action="unredeem" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="ticket_id" value="{{ ticket.IDtkt }}">
                        <input type="hidden" name="statusupdate" value="Active">
                        <button type="submit" class="new-ticket-button">Activate</button>
                    </form><br>
                    {% endif %}
                </div>
            </div>
            {% endfor %}    
            <!--Code for display,delete and redeem all the created tickets-->
    </div>
    </main>

    <!--Footer section codes-->
    <footer>
        <div class="footer">
            <p>&copy; c_tech_guy. All rights reserved.</p>
        </div>
    </footer>

    <!--JS code for giving alerts to delete and redeem uttons-->
    <script>
        function confirmDelete(){
            return confirm('Are you sure you want to delete');
        }
        // function confirmRedeem(){
        //     return confirm('Are you sure you want to redeem it you can never undo it');
        // }
    </script>
</body>
</html> 